<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/LABV_G1?createDatabaseIfNotExist=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Account"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.AccountType"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.BankAdministrator"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Country"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.CurrencyType"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.CurrencyValue"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Customer"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Loan"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Locality"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Log"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Movement"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.MovementType"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.Province"/>
        <mapping class="UTN.FRGP.TP_L5_GRUPO_1.Models.User"/>
    </session-factory>
</hibernate-configuration>
